@font-face {
  font-family: chase;
  src: url(../fonts/Chase.ttf);
}

@font-face {
  font-family: corbert;
  src: url(../fonts/Corbert-Regular.otf);
}

body
{
  font-family: corbert;
  background-color: rgb(19, 82, 162);
  color: rgb(240, 241, 238);
  font-size: 2em;
}


.parallax-container {
  height: 500px;
  width: 100%;
}

.parallax-header{
  text-align: center; 
  margin-top: 0;
}

h1
{
  font-family: chase;
}

h1.parallax-header{
  padding-top: 2.5em;
  font-size: 4em;
  font-weight: 900;
}

h1.parallax-header.parallax-header-xs
{
  font-size: 2.6em;
}


.text-content
{
  /*padding: 25px 0 25px;*/
  margin-top: 2em;
  margin-bottom: 2em;
}

input, textarea
{
  color: black;
  width: 100%;
}


.image_container img{
  margin: 0;
  width: 50%;
  margin-left: 25%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.text-content a {
  color: #979;
  text-decoration: underline;
}

.text-content a:hover {
  color: #966;
}












