@font-face {
  font-family: chase;
  src: url(../fonts/Chase.ttf);
}

body
{
  font-family: chase;
  background-color: rgb(19, 82, 162);
  color: rgb(240, 241, 238);
  font-size: 2.6em;
}

section {
  padding: 25px 0 35px;
  
}

.parallax-container {
  height: 500px;
  width: 100%;
}


.text-content
{
  margin-top: 2em;
  margin-bottom: 2em;
}

input, textarea
{
  color: black;
  width: 100%;
}

.navbar
{
	background-color: rgba(51, 51, 50, .8);
	border: 0;
}

.nav a, .navbar-brand{
  color: rgb(240, 241, 238) !important;
  font-size: 1.2em;
}



#navbar-collapse
{
  /*
  border-color: rgba(10, 10, 10, .8);
  background-color: rgba(10, 10, 10, .8);
  */
}

.image_container img{
  margin: 0;
  width: 50%;
  margin-left: 25%;
  margin-top: 1em;
  margin-bottom: 1em;
}


.parallax-header{
	text-align: center;	
	margin-top: 0;
}


h1.parallax-header{
  padding-top: 2.5em;
  font-size: 4em;
  font-weight: 900;
}

h1.parallax-header.parallax-header-xs
{
	font-size: 2.6em;
}










